<%- include('../blocks/header', {path, auth, settings}) %>
			<h2>Create Post</h2>
			<form method="POST" action="/admin/add">
      <div class="dynamic-width">
				<label for="password">Article Title: 
				<input type="text" id="title" name="title" placeholder="Some inspiring title"/>
				</label>
			</div>
      <div>
      <label for="content">
      <textarea id="content" name="content"></textarea>
      </label>
      </div>
      <button type="submit" class="pretty-button">Save</button>
      </form>
<% include ../blocks/footer %>