<%- include('../blocks/header', {path, auth}) %>
			<h2>Create Post</h2>
			<form method="POST" action="/admin/add">
      <div>
      <label for="title">Article Title: 
      <input type="text" id="title" name="title" value="" />
      </label>
      </div>
      <div>
      <label for="content">
      <textarea id="content" name="content"></textarea>
      </label>
      </div>
      <button type="submit">Save</button>
      </form>
<% include ../blocks/footer %>