<header>Admin Sidebar</header>

<ul>
  <li><a href="/admin/settings">Site Settings</a></li>
  <li><a href="/admin">View Articles</a></li>
  <li><a href="/admin/add">New Article</a></li>
  <li><a href="/users">View Users</a></li>
  <li><a href="/admin/adduser">Create User</a></li>
  <li><a href="/admin/logs">View Logs</a></li>
</ul>
