      </div>
    <div class="box footer">
      &copy;2019 <%- settings.author %>. All Rights Reserved. Steal from this and you will owe me your firstborn.
      <a href="https://github.com/eslachance/carrots"><object id="footlogo" data="/public/logo.svg"></object></a>
    </div>
  </div>
</body>
</html>