<%- include('blocks/header', {path, auth, settings}) %>
<h1>404 - Not Found</h1>

	<div class="404-wrapper">
		<header>
			I've tasked my daughter to find the page you're looking for...
		</header>
		<img src="/public/404.png">
		<footer>
			She's been looking for barely a minute and she's already tired of this game.
		</footer>
	</div>

<% include ./blocks/footer %>