<%- include('blocks/header', {path, auth, settings}) %>
<form method="POST">
			<fieldset>
			<legend>Login</legend>
			<div class="dynamic-width">
				<label for="username">Username: 
				<input type="text" name="username" id="username">
				<span style="display:none"></span>
				</label>
			</div>
			<div class="dynamic-width">
				<label for="password">Password: 
				<input type="password" name="password" id="password">
				<span style="display:none"></span>
				</label>
			</div>

			</fieldset>
	<button type="submit" class="pretty-button">Login</button>
</form>

<% include ./blocks/footer %>